<div>
  <div>
    {{employee_name}}
  </div>
  <div>
  <div>
      Role:
      {{role}}
    </div>
    <div>
      Completed Classes:
      {{completed_classes}}
    </div>
    <div>
      Incompleted Classes:
      {{incomplete}}
    </div>
    <div>
      Yearly Classes:
      {{year_class}}
    </div>
  </div>
</div>
