
<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Completed Class</th>
    <th>Incompleted Classes</th>
    <th>Yearly Classes</th>
  </tr>
  <tr>
    <td>{{employee_name}}</td>
    <td>{{role}}</td>
    <td>{{completed_classes}}</td>
    <td>{{incomplete}}</td>
    <td>{{year_class}}</td>
  </tr>
</table>